.text-shadow {
    text-shadow: 4px 4px black;
}

body {
    background-image: url('https://img1.wsimg.com/isteam/stock/29307/:/');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Times New Roman", Times, serif;
}

nav {
    height: 70px;
    line-height: 70px;
    border-bottom: 3px solid black;
}

@media only screen and (max-width: 600px) {
    .s-logo {
      font-size: 1em;
    }
}

.brand-logo {
    position: relative; 
    top: -20px;
}

.header-text {
    font-weight: 900;
    font-size: 170%;
    line-height: 50%;
}

#recipe-search {
    padding: 20px;
}

#cuisine-select {
    margin-left: 25px;
}

.content-container {
    border-radius: 25px;
}

.register {
    border-radius: 25px;
}

.redirect {
    font-weight: 900;
    font-size: 170%;
}