.text-shadow {
    text-shadow: 4px 4px black;
}

body {
    background-image: url('https://img1.wsimg.com/isteam/stock/29307/:/');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Times New Roman", Times, serif;
}

nav {
    height: 70px;
    line-height: 70px;
    border-bottom: 3px solid black;
}

@media only screen and (max-width: 600px) {
    .s-logo {
      font-size: 1em;
    }
}

.brand-logo {
    position: relative; 
    top: -20px;
}

.header-text {
    font-weight: 900;
    font-size: 170%;
    line-height: 50%;
    width: 300px;
    margin: auto;
}

#recipe-search {
    padding: 20px;
}

#cuisine-select {
    margin-left: 25px;
}

.content-container {
    border-radius: 25px;
}

.register {
    border-radius: 25px;
}

.redirect {
    font-weight: 900;
    font-size: 170%;
}

.horizontal {
    border-radius: 40px;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

.card-stacked {
    border-radius: 40px;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

.card-content {
    line-height: 90px;
    height: 180px;
    text-align: center;
    margin-bottom: 10px;
}

div.card-image {
    height: 200px;
    width: 100%;
}

.card {
    width: 100%;
  height: 150%;
  object-fit: cover;
  margin-bottom: 50px;

}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a.btn-floating.btn-large.add-recipe-btn {
    position: fixed;
    right: 5%;
    top: 85%;
}

.cover {
        width: 260px;
        object-fit: cover;
}

.recipe-card {
    height: 150%;
}

.author-text {
    height: 10px;
}



div.row-button {
    width: 300px;
    left: 300px;
    position: relative;
}

.div-header {
    width: 50%;

}

.ingredients {
    text-align: center;
}

h5.method {
    text-align: center;
}