{% extends "base.html" %}
{% block content %}

    <header class="header-text center-align indigo-text text-darken-4">
        <h1>{{ page_title }}</h1>
    </header>
    <div class="container col s12 indigo lighten-4 content-container" id="login-form">
        <div class="row card-panel indigo lighten-4">
            <form action="{{ url_for('add_recipe') }}" method="POST">
                <div class="row indigo-text text-darken-4">
                    <div class="input-field col s10 centre-align">
                        <input id="title" name="title" type="text" class="validate white-text" autocomplete="off" maxlength="30" autofocus required>
                        <label for="title">Recipe Name</label>
                    </div>
                </div>
                <!-- cuisines -->
                <div class="row indigo-text text-darken-4 mb-50 ml-50">
                    <div class="input-field col s12 m6 center-align">
                        <select id="cuisine_name" name="cuisine_name" class="validate" required>
                            <option value="" disbaled selected>Select Cuisine</option>
                            {% for cuisine in cuisines %}
                            <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="cuisine_name">Cuisine</label>
                    </div>
                </div>
                <!-- Allergens -->
                <div class="row mt-40 indigo-text text-darken-4">
                    <div class="row">
                        <h6 class="mt-40 center-align indigo-text text-darken-4"><strong>Allergens</strong></h6>
                        {% for allergen in allergens %}
                        <div class="input-field col s6 m3 mt-0 mb-0 height-40">
                            <p>
                                <label>
                                    <input type="checkbox" class="filled-in" name="Allergen_name"/>
                                    <span>{{ allergen.Allergen_name }}</span>
                                </label>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <hr class="mb-50">

                  <!-- Ingredients section -->
                <div class="row">
                    <div class="ingredients">
                        <h5 class="mb-20 center-align indigo-text text-darken-4"><strong>Ingredients</strong></h5>
                        <div class="ingredient row">
                            <div class="input-field col s4">
                                <input id="quantity" name="ingredient-qty-1" type="text" class="validate" autocomplete="off" required>
                                <label for="quantity">Quantity</label>
                            </div>
                            <div class="input-field col offset-s4 s8">
                                <select class="ingredient-list validate wrapper" name="ingredient_name" required>
                                    <option value="" disabled selected>Select Ingredient</option>
                                    {% for ingredient in ingredients %}
                                    <option value="{{ ingredient.ingredient_name }}">{{ ingredient.ingredient_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12" id="ingredients-buttons">
                            <div class="col s12 m6 l4">
                                <a class="waves-effect waves-light btn-floating btn-small add-ingredient-btn" name="add-ing-btn"><i class="material-icons left">add</i></a>
                                <label for="add-ing-btn">Add Next Ingredient</label>
                            </div>
                            <div class="col s12 m6 l4">
                                <a class="waves-effect waves-light btn-floating btn-small remove-ingredient-btn" name="remove-ing-btn"><i class="material-icons left">remove</i></a>
                                <label for="remove-ing-btn">Remove Last Ingredient</label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr class="mb-40">


                <div class="row">
                    <div class="method">
                        <h5 class="mb-0 center-align indigo-text text-darken-4"><strong>Method</strong></h5>
                        <div class="input-field col s12 mt-0">
                            <ol id="steps-list" class="mt-10">
                                <li class="step">
                                    <input name="step-1" type="text" class="validate" autocomplete="off" required>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12" id="method-buttons">
                            <div class="col s12 m6 l4">
                                <a class="waves-effect waves-light btn-floating indigo btn-small add-step-btn" name="add-step-btn"><i class="material-icons left">add</i></a>
                                <label for="add-step-btn">Add Next Step</label>
                            </div>
                            <div class="col s12 m6 l4">
                                <a class="waves-effect waves-light indigo btn-floating btn-small remove-step-btn" name="remove-step-btn"><i class="material-icons left">remove</i></a>
                                <label for="remove-step-btn">Remove Last Step</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Submit Recipe-->
                <button class="btn waves-effect waves-light indigo submit-btn" type="submit" name="action">Add Recipe</button>
                <a href="{{ url_for('all_recipes') }}" class="waves-effect waves-light btn red darken-3 submit-btn mt-20">Cancel</a>
            </form>
            
        </div>
    </div>


                    

{% endblock %}