{% extends "base.html" %}
{% block content %}

    <header class="header-text center-align indigo-text text-darken-4">
        <h1>{{ page_title }}</h1>
    </header>
    <div class="container col s12 indigo lighten-4 content-container" id="login-form">
        <div class="row card-panel indigo lighten-4">
            <form action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" method="POST">
                <!-- recipe title -->
                <div class="row indigo-text text-darken-4">
                    <div class="input-field col s10 centre-align">
                        <input id="title" name="title" type="text" class="validate white-text" value="{{ recipe.title }}" autocomplete="off" maxlength="30" autofocus required>
                        <label for="title">Recipe Name</label>
                    </div>
                </div>
                <!-- cuisines -->
                <div class="row indigo-text text-darken-4 mb-50 ml-50">
                    <div class="input-field col s12 m6 center-align">
                        <select id="cuisine_name" name="cuisine_name" class="validate" required>
                            <option value="" disbaled selected>Select Cuisine</option>
                            {% for cuisine in cuisines %}
                                {% if cuisine.cuisine_name == recipe.cuisine_name %}
                                    <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
                                {% else %}
                                    <option value="{{ cuisine.cuisine_name }}" selected>{{ cuisine.cuisine_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="cuisine_name">Cuisine</label>
                    </div>
                </div>
                <!-- Allergens -->
                <div class="row mt-40 indigo-text text-darken-4">
                    <div class="row">
                        <h6 class="mt-40 center-align indigo-text text-darken-4"><strong>Allergens</strong></h6>
                        {% for allergen in allergens %}
                        <div class="input-field col s6 m3 mt-0 mb-0 height-40">
                            <p>
                                <label>
                                    {% if allergen.Allergen_name in recipe.allergens %}
                                        <input type="checkbox" class="filled-in" name="Allergen_name" checked/>
                                    {% else %}
                                        <input type="checkbox" class="filled-in" name="Allergen_name"/>
                                    {% endif %}
                                        <span>{{ allergen.Allergen_name }}</span>
                                </label>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <hr class="mb-50">

                  <!-- Ingredients section -->
                  <div class="row">
                    <div class="ingredients">
                        <h5 class="mb-20 center-align indigo-text text-darken-4"><strong>Ingredients</strong></h5>

                        {% for ingredient in recipe.ingredients %}
                        <div class="ingredient">
                            <div class="input-field col s4">
                                <input id="quantity" name="ingredient-qty-{{ loop.index }}" type="text" value="{{ ingredient[0] }}" class="validate" autocomplete="off" required>
                                <label for="quantity">Quantity</label>
                            </div>
                            <div class="input-field col s8">
                                <select class="ingredient-list" name="ingredient-name-{{ loop.index }}" required>
                                    <option value="" disabled selected>Select Ingredient</option>
                                    {% for ingredient in ingredients %}
                                        {% if ingredient.ingredient_name == ingredient[1] %}
                                            <option value="{{ ingredient.ingredient_name }}" selected>{{ ingredient.ingredient_name }}</option>
                                        {% else %}
                                            <option value="{{ ingredient.ingredient_name }}">{{ ingredient.ingredient_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col s12" id="ingredients-buttons">
                            <div class="col s12 m6 l4">
                                <a class="waves-effect waves-light btn-floating btn-small add-ingredient-btn" name="add-ing-btn"><i class="material-icons left">add</i></a>
                                <label for="add-ing-btn">Add Next Ingredient</label>
                            </div>
                            <div class="col s12 m6 l4">
                                <a class="waves-effect waves-light btn-floating btn-small remove-ingredient-btn" name="remove-ing-btn"><i class="material-icons left">remove</i></a>
                                <label for="remove-ing-btn">Remove Last Ingredient</label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr class="mb-40">


                <!-- Method update -->
                <div class="row">
                    <div class="method">
                        <h5 class="mb-0 center-align indigo-text text-darken-4"><strong>Method</strong></h5>
                        <div class="input-field col s12 mt-0">
                            <ol id="method-list" class="mt-10">

                                {% for step in recipe.instructions %}
                                <li class="method">
                                    <input name="method-{{ loop.index }}" value="{{ method }}" type="text" class="validate" autocomplete="off" required>
                                </li>
                                {% endfor %}

                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12" id="method-buttons">
                            <div class="col s12 m6 l4">
                                <a class="waves-effect waves-light btn-floating indigo btn-small add-method-btn" name="add-method-btn"><i class="material-icons left">add</i></a>
                                <label for="add-method-btn">Add Next Instruction</label>
                            </div>
                            <div class="col s12 m6 l4">
                                <a class="waves-effect waves-light indigo btn-floating btn-small remove-method-btn" name="remove-method-btn"><i class="material-icons left">remove</i></a>
                                <label for="remove-method-btn">Remove Last Instruction</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Submit Recipe-->
                <button class="btn waves-effect waves-light indigo submit-btn" type="submit" name="action">Edit Recipe</button>
                <a href="{{ url_for('all_recipes') }}" class="waves-effect waves-light btn red darken-3 submit-btn mt-20">Cancel</a>
            </form>
            
        </div>
    </div>


            </form>
                    

{% endblock %}